@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "medium";
  src: url("/fonts/Ubuntu/Ubuntu-Medium.ttf");
}

* {
  @apply font-ubuntu;
  scroll-behavior: smooth;
}

.transition_item {
  @apply transition duration-200 ease-in;
}

.padding-x {
  @apply lg:px-20 md:px-14 px-6;
}

.padding-y {
  @apply py-12;
}

.maxWidth {
  @apply max-w-[1440px] mx-auto;
}
